@charset "UTF-8";
@font-face {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/aleo-regular-webfont.eot");
  src: url("../fonts/aleo-regular-webfont.woff"), url("../fonts/aleo-regular-webfont.woff2");
}

@font-face {
  font-family: 'Icomoon';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.woff"), url("../fonts/icomoon.woff2");
}

body {
  background: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

​
body, form, div, a, img, h1, h2, h3, h4, h5, h6, table, table tr, table td {
  border: none;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

​
input,
textarea,
select {
  outline: none;
  font-family: Arial;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

​
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

​
a {
  text-decoration: none;
  outline: none;
}

​
a:hover {
  text-decoration: none;
}

​
h1, h2 {
  font-size: 20px;
  padding: 0 0 10px 0;
  color: #545454;
}

​
.clear {
  clear: both;
  font-size: 0;
  line-height: 0;
  height: 0;
}

.mainer {
  max-width: 1110px;
  padding: 0 30px;
  margin: 0 auto;
}

.header {
  background-image: url(../img/bg_header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 135px;
}

.header__title {
  padding-top: 267px;
  margin: 0 auto;
  padding-bottom: 10px;
  max-width: 320px;
}

.header__title-link {
  text-decoration: none;
  word-break: break-all;
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase;
}

.header__title-link:hover {
  color: aqua;
}

.header__subtitle {
  font-size: 22px;
  font-weight: 300;
  max-width: 320px;
  margin: 0 auto;
  letter-spacing: 5px;
}

.header__scroll-link {
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__scroll-link:hover {
  color: aqua;
}

.header__scroll-icon {
  padding-top: 5px;
}

.navigation {
  background-color: #5474fd;
  padding: 35px 0;
  padding-bottom: 20px;
}

.navigation__col {
  width: 50%;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.navigation__logo {
  font-weight: bold;
  color: white;
  padding-top: 5px;
}

.navigation__link {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  text-decoration: none;
}

.navigation__link:hover {
  color: aqua;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding-left: 25px;
}

.nav__item {
  list-style: none;
  padding-right: 42px;
}

.nav__item:last-child {
  padding: 0;
}

.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Aleo";
  font-size: 14px;
  padding: 10px 0;
}

.nav__link:hover {
  color: aqua;
}

.mainer--fix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form {
  margin-top: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 120px;
}

.form__input-text {
  padding: 24px 127px 26px 127px;
  border: none;
  cursor: pointer;
  display: block;
  color: #999999;
}

.form__input-text:focus {
  outline: none;
  background-color: #b0bbeb;
  color: white;
}

.button {
  background-image: url(../img/bg_button.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  padding: 24px 38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Aleo";
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  position: relative;
  display: block;
}

.button:hover {
  background-color: #1837be;
  border-color: #1837be;
  color: aqua;
  background-image: none;
}

.button__search {
  fill: white;
  right: 11px;
  position: absolute;
  top: 13px;
}

.button__search:hover {
  fill: yellow;
}

.button__text {
  display: inline-block;
  margin-top: -5px;
}

.choose-us {
  background-image: url(../img/bg_chose_us.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.choose-us__col {
  width: 50%;
}

.choose-us__col--fix {
  padding-left: 107px;
  padding-top: 120px;
}

.choose-us__img {
  background-image: url(../img/chose_us1.png);
  max-width: 350px;
  height: 220px;
}

.choose-us__thumb {
  background-image: url(../img/chose_us2.png);
  margin-top: 5px;
  height: 220px;
  background-repeat: no-repeat;
  background-position-x: right;
  padding-bottom: 120px;
}

.choose-us__title {
  font-family: "Aleo";
  font-size: 36px;
  color: white;
  font-weight: normal;
  padding-top: 205px;
  padding-bottom: 47px;
}

.choose-us__text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #e8e8e8;
  line-height: 24px;
  padding-bottom: 25px;
}

.button--fix {
  border: 2px solid white;
  background-color: #5474fd;
  padding: 22px 50px 23px 34px;
  background-image: none;
}

.option {
  background-color: #333333;
}

.option__item {
  padding-top: 100px;
  padding-bottom: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 33.33%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.option__item--fix {
  margin-right: 0;
}

.option__title {
  font-size: 36px;
  font-weight: normal;
  font-family: "Aleo";
  cursor: pointer;
}

.option__title:hover {
  color: #516fee;
}

.option__dot {
  position: relative;
  top: -170px;
  /* right: 50px; */
  left: 205px;
  max-width: 300px;
  width: 100%;
}

.icon-like,
.icon-search,
.icon-arrow {
  font-family: 'Icomoon';
  font-size: 60px;
  display: block;
  padding-bottom: 35px;
  cursor: pointer;
}

.icon-search {
  color: #3e4977;
}

.icon-search:before {
  content: "\e986";
}

.icon-like {
  color: #00a2ff;
}

.icon-like:before {
  content: "\e900";
}

.icon-arrow {
  color: #e55d5d;
}

.icon-arrow:before {
  content: "\ea43";
}

.article {
  background-image: url(../img/bg_article.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 230px;
}

.container {
  background-color: #393939;
  opacity: 0.9;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  padding: 0 30px;
  max-width: 480px;
  margin-bottom: 36px;
}

.container__country {
  color: #e8e8e8;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  padding-top: 50px;
  padding-bottom: 30px;
}

.container__title {
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: #e8e8e8;
  padding-bottom: 30px;
}

.container__text {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: #e8e8e8;
  line-height: 25px;
  padding-bottom: 145px;
  letter-spacing: -1px;
}

.button--container {
  position: relative;
  top: -150px;
  left: 30px;
  padding: 23px 60px 25px 60px;
}

.article--fix {
  background-image: url(../img/bg_article_new.jpg);
}

.container--fix {
  margin-left: calc( 100% - 540px);
}

.button--container-fix {
  margin-left: calc( 100% - 540px);
}

.review {
  background-image: url(../img/bg_quote.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 120px;
  padding-bottom: 200px;
}

.review__title {
  font-family: "Aleo";
  font-size: 36px;
  text-align: center;
  padding-bottom: 100px;
}

.quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #333333;
}

.quote__avatar {
  width: 50%;
  background-image: url(../img/avatar.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 445px;
  padding-top: 285px;
}

.quote__author {
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  width: 50%;
  padding: 50px 0 0 60px;
}

.quote__info {
  color: #e8e8e8;
  font-size: 16px;
  text-transform: none;
  margin-top: 40px;
  display: block;
  line-height: 25px;
  font-weight: 300;
}

.fa-quote-left {
  color: #5474fd;
  position: relative;
  top: -15px;
  padding-right: 5px;
}

.footer {
  background-color: #232323;
  padding-top: 123px;
  padding-bottom: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__title {
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.footer__title:hover {
  color: #516fee;
}

.footer__text {
  font-size: 16px;
  font-weight: 300;
  text-transform: none;
  padding: 10px 0 20px 0;
}

.footer__socials-icon:hover {
  color: #516fee;
}

.footer__socials-link {
  text-decoration: none;
  margin: 0;
  padding-right: 15px;
  cursor: pointer;
}

.footer__socials-link:last-child {
  padding: 0;
}

@media screen and (max-width: 1180px) {
  .header__footer-col {
    padding: 0 10px;
  }
  .navigation__logo {
    padding-top: 55px;
    text-align: center;
  }
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__item {
    padding: 0;
    padding-bottom: 20px;
  }
  .option__dot {
    display: none;
  }
}

@media screen and (max-width: 786px) {
  .choose-us__title {
    padding-top: 150px;
  }
  .option__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .option__title {
    padding-left: 5px;
  }
  .container {
    margin: 0 auto;
  }
  .button--container {
    margin: 0 auto;
    left: 0;
    top: -120px;
  }
  .quote {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .quote__author {
    margin: 0 auto;
    text-align: center;
    padding-left: 0;
  }
  .quote__avatar {
    width: 100%;
  }
}

@media screen and (max-width: 590px) {
  .header__subtitle {
    text-align: center;
  }
  .form__input-text {
    width: 100%;
    padding: 25px 30px;
  }
  .choose-us__title {
    padding-top: 38px;
    text-align: center;
  }
  .mainer--adaptation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .option__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 50px 0;
  }
  .choose-us__col {
    width: 100%;
    padding-bottom: 90px;
  }
  .choose-us__col--fix {
    display: none;
  }
  .button {
    margin: 0 auto;
  }
}

@media screen and (max-width: 450px) {
  .mainer--fix {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation__col {
    width: 100%;
  }
  .navigation__logo {
    text-align: center;
    padding-top: 0px;
  }
  .nav {
    padding: 0;
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
/*# sourceMappingURL=main.css.map */